body {
  background-color: rgb(238, 224, 241);
}

.App {
  font-family: "Times New Roman", Times, serif;
}

#Container {
  height: 100%;
  width: 100%;
  display: flex;
}

.Consumable-Form {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin: auto 0;
  box-sizing: border-box;
}

.Login {
  width: 300px;
  margin: 0 auto;
  background: tan;
  box-sizing: border-box;
  justify-content: center;
}

.Login-button {
  width: 120px;
  margin: 0 auto;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.swap-account-button {
  margin: 0 auto;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#Sidebar {
  width: 120px;
  height: auto;
  background-color: tan;
}

#Macro-Display {
  width: 100%;
  justify-content: space-between;
  display: flex; 
  flex-direction: row;
  justify-content: left;
  margin: 10px;
}

#Macro-Dates {
  width: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: left;
  margin: 10px;
  margin-right: 20px
}

#Recipe-Display {
  width: 100%;
  justify-content: left;
  display: flex; 
  flex-direction: row;
  justify-content: left;
  margin: 10px;
}

#CreationForm {
  margin: 30% 20%;
  justify-content: left;
  justify-content: left;
  margin-left: 10px;
  margin-top: 50px;
}

.creationForm-Choice {
  width: 300px;
}

input {
  display: block;
}

.Sidebar-button {
  width: 100%;
  margin: 0 auto;
  background: thistle;
  border-radius: 0px;
}

.Sidebar-button:hover {
  background: cyan;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  padding-left: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 15vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Search {
  padding-left: 10px;
  float: left;
}

.Totals {
  padding-left: 100px;
  float: left;

}

.Totals-table {
  border: 1px solid;
}

.Totals-header {
  border-bottom: 1px solid;
}

.Totals-row {
  font-weight: normal;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  50% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(20deg);
  }
}

.h1 {
  padding: -10px;
}

.CreateAccountForm {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 300px;
  margin: 0 auto;
  background: tan;
  box-sizing: border-box;
}

