body {
  background-color: rgb(238, 224, 241);
}

.App {
  font-family: "Times New Roman", Times, serif;
}

.Login {
  width: 300px;
  margin: 0 auto;
  background: tan;
  box-sizing: border-box;
}
.Login-button {
  width: 100px;
  margin: 0 auto;
  background: lightgrey;
  border-radius: 5px;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  padding-left: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 15vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Search {
  padding-left: 10px;
  float: left;
}

.Totals {
  padding-left: 100px;
  float: left;

}

.Totals-table {
  border: 1px solid;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  50% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(20deg);
  }
}

.h1 {
  padding: -10px;
}
